<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Current Password</label>
          <input
            type="password"
            id="currPassword"
            class="form-control"
            formControlName="currPassword">
            <span *ngIf="!changePasswordForm.get('currPassword').valid && changePasswordForm.get('currPassword').touched" class="help-block">
              <span *ngIf="changePasswordForm.get('currPassword').errors['required']">Please enter your current Password!</span>
              <span *ngIf="changePasswordForm.get('currPassword').errors['minlength']">The password must be at least 6 chars!</span>
            </span>
      </div>
      <div class="form-group">
        <label for="email">New Password</label>
          <input
            type="password"
            id="newPassword"
            class="form-control"
            formControlName="newPassword">
            <span *ngIf="!changePasswordForm.get('newPassword').valid && changePasswordForm.get('newPassword').touched" class="help-block">
              Please enter a valid password! (more than 6 chars)
            </span>
      </div>
      <div class="form-group">
          <label for="email">Repeat New Password</label>
            <input
              type="password"
              id="repeatedNewPassword"
              class="form-control"
              formControlName="repeatedNewPassword">
              <span *ngIf="!changePasswordForm.get('repeatedNewPassword').valid && changePasswordForm.get('repeatedNewPassword').touched" class="help-block">
                Please repeat your new Password correctly!
              </span>
      </div>
      <span *ngIf="!changePasswordForm.valid && changePasswordForm.touched" class="help-block">Please enter valid data!</span>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>
</div>
