<h2>Welcome to the Recipe Book</h2>
<hr>
This is an Angular CLI Single Page Application, based on course, I have done in Udemy. For the back-end I used Firebase. Through the application users can create their own recipes, edit or delete existing ones and store the changes in the database, or fetch already stored recipes by themselves or by other users and also editing/deleting them. There is a shopping list, where they can store ingredients, change the amount of existing ones or delete them.
<br><br>
<h4>Angular features, I have used to building this application:</h4>
<br>
<li>  Angular Router</li>
<li>  Route guards (Can-Activate, Can-Deactivate)</li>
<li>  Ahead of time compilation</li>
<li>  Lazy loading recipe module</li>
<li>  The Http Client</li>
<li>  Observables</li>
<li>  Template Driven Forms</li>
<li>  Reactive Forms</li>
<li>  Custom Validator and custom generic validator</li>
<li>  Generic component</li>
<li>  Shared module</li>
<li>  Filter pipe</li>
<li>  Auth service</li>
<hr>
<h4>IMPORTANT:</h4><br>
<li>I DO NOT OWN ANY OF THE PICTURES USED IN THIS PROJECT.</li><br>
<li>THE PURPOSE OF THIS APPLICATION IS NOT FOR COMMERCIAL USES - THE APPLICATION WAS CREATED FOR EXERCISE.</li><br><br>

